
# Сторонние библиотеки (требуется установка через pip)
tinkoff-investments  # Библиотека для работы с API Тинькофф Инвестиций
load_dotenv  # Библиотека для загрузки переменных окружения из файла .env
matplotlib  # Библиотека для построения графиков
pandas  # Библиотека для работы с табличными данными
numpy  # Библиотека для численных вычислений
ta  # Библиотека для технического анализа финансовых данных
telegram  # Библиотека для работы с Telegram Bot API
aiohttp   # Асинхронная библиотека для HTTP-запросов
textblob  # Библиотека для обработки естественного языка
certifi   # Библиотека, которая предоставляет набор доверенных сертификатов