
# Сторонние библиотеки (требуется установка через pip)
tinkoff-investments  # Библиотека для работы с API Тинькофф Инвестиций
load_dotenv  # Библиотека для загрузки переменных окружения из файла .env
pandas  # Библиотека для работы с табличными данными
ta  # Библиотека для технического анализа финансовых данных
python-telegram-bot  # Библиотека для работы с Telegram Bot API
